@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css');

body {
    font-family: 'Pacifico';
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Tamanhos inputs */

#namesocial,
#name,
#namemae {
    width: 500px;
    font-size: 15px;
}

#enderecoa {
    width: 1300px;
    font-size: 15px;
}

#bairro,
#cep {
    width: 580px;
    font-size: 15px;
}

#residenciauf,
#email {
    width: 600px;
    font-size: 15px;
}

#autorizadap {
    width: 650px;
    font-size: 15px;
}

#observacoes {
    width: 300px;
    padding: 60px;
    font-size: 15px;
}

.form1 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    margin-left: 250px;
    text-align: center;
}


.fieldh1 {
    background-color: rgb(181, 181, 181);
    height: 40px;
    font-size: 22pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container1 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    margin-left: 37px;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.container2 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    margin-left: 250px;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.container3 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    margin-left: 250px;
    text-align: center;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.container4 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    margin-left: 250px;
    text-align: center;
    display: flex;
    gap: 82px;
    justify-content: center;
}

.container5 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    margin-left: 250px;
    text-align: center;
    display: flex;
    gap: 82px;
    justify-content: center;
}

.container6 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    margin-left: 250px;
    text-align: center;
    display: flex;
    gap: 150px;
    justify-content: center;
}

.boxexterno2 {
    display: flex;
    gap: 100px;
}

.container7 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    margin-left: 250px;
    text-align: center;
    display: flex;
    gap: 150px;
    justify-content: center;
}

.container8 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.container9 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    text-align: center;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.main-container {
    display: flex;
    gap: 5px;
}

.container10,
.container11 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    text-align: center;
    display: flex;
    gap: 11px;
    justify-content: center;
}

.container12 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1400px;
    margin-left: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.fieldexterno4 {
    display: flex;
    gap: 20px;
    /* Ajuste o valor do gap conforme necessário */
}

.fieldbox34,
.fieldbox35 {
    border: 1px solid #000;
    /* Apenas para visualização, ajuste conforme necessário */
    padding: 10px;
    /* Ajuste conforme necessário */
}

.fieldinterno1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldbox1,
.fieldbox2,
.fieldbox3,
.fieldbox4 {
    flex: 2;
    min-width: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.fieldbox5 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1348px;
    margin-left: 250px;
    text-align: left;
    padding-left: 40px;
}

.fieldbox6,
.fieldbox7,
.fieldbox8 {
    border: 1px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1350px;
    margin-left: 250px;
    text-align: left;
    padding-left: 40px;

}

.fieldbox17 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1348px;
    margin-left: 250px;
    text-align: left;
    padding-left: 40px;
}

.fieldbox21,
.fieldbox22 {
    flex: 1;
    min-width: 555px;
    margin: 5px;
}

.fieldexterno2 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1376px;
    margin-left: 250px;
    text-align: left;
}

.fieldexterno3 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1348px;
    margin-left: 250px;
    text-align: left;
    padding-left: 40px;
}

.fieldbox23 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 300px;
}

.fieldbox24 {
    flex: 1;
    min-width: 500px;
    margin: 5px;
}

.fieldbox33 {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    padding: 10px;
    max-width: 500px;
    text-align: center;
}

.fieldbox33a {
    border: 2px solid transparent;
    background-color: rgb(181, 181, 181);
    max-width: 1348px;
    margin-left: 250px;
    text-align: left;
    padding-left: 40px;
}

/*Tooltips*/
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltipcpftext,
.tooltipcnstext,
.tooltipsinantext,
.tooltipprontuariotext,
.tooltipidsocialtext,
.tooltipnameciviltext,
.tooltipnamesocialtext,
.tooltipnamemaetext,
.tooltipdatanasctext,
.tooltipracatext,
.tooltipsexonasctext,
.tooltipidgenerotext,
.tooltiporisexualtext,
.tooltipcidadeuftext,
.tooltippaisnasctext,
.tooltipnacitext,
.tooltipsituacaotext,
.tooltipescolaridadetext,
.tooltiplocaltext,
.tooltipliberdadeprivtext,
.tooltipcontatosntext,
.tooltipoxtipocontatostext,
.tooltipassinaturatext,
.tooltipenderecotext,
.tooltipbairrotext,
.tooltipceptext,
.tooltipresidenciauftext,
.tooltipemailtext,
.tooltiptiptelefonestext,
.tooltipobstext,
.tooltipacomptext,
.tooltippessoastext,
.tooltippreenchimentotext,
.tooltippreenchimentosustext,
.tooltipassinaturausutext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.button-container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente, se necessário */
    height: 100vh;
    /* Opcional: ajusta a altura do contêiner, se necessário */
}